<app-header></app-header>
<div class="login-container">
  <div class="login-content">
    <div class="login-card">
      <div class="register-section">
        <h2>¿No tienes cuenta? Regístrate</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <input 
            type="email" 
            placeholder="Dirección de correo electrónico"
            formControlName="email">
        
          
          <div class="info-message">
            Actualmente el registro debe ser gestionado por un administrador.
          </div>
          <button type="submit" class="action-button" [disabled]="registerForm.invalid">CONTINUAR</button>
        </form>
      </div>

      <div class="login-divider"></div>

      <div class="login-section">
        <h2>Inicia sesión</h2>
        <form [formGroup]="loginForm" (keypress)="onKeyPress($event)">
          <input 
            type="email" 
            placeholder="Dirección de correo electrónico"
            formControlName="email">
          <input 
            type="password" 
            placeholder="Contraseña"
            formControlName="password">
            

            
          <a href="#" class="forgot-password">¿Has olvidado la contraseña?</a>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <button type="button" class="action-button" (click)="onLogin()" [disabled]="loginForm.invalid || isLoggingIn">
            {{ isLoggingIn ? 'ACCEDIENDO...' : 'ACCEDER' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
