// Color variables
$primary-color: #8FBC94;
$primary-light-color: #a6d5ab; // Versión más clara del color primario
$secondary-color: #548687;
$background-color: #ffffff;
$text-color-dark: #333333;
$text-color-light: #666666;
