<div class="student-view-layout" [class.drawer-open]="isDocumentsModalVisible">
  <app-header 
    [showDocumentsButton]="true"
    [isDocumentsModalVisible]="isDocumentsModalVisible"
    [currentUser]="studentProfile"
    (toggleDocuments)="toggleDocumentsModal()">
  </app-header>
  <app-sidebar></app-sidebar>
  <app-chat-area 
    [isDocumentsModalVisible]="isDocumentsModalVisible"
    [currentSubject]="currentSubject"
  ></app-chat-area>
  <app-documents-modal 
    [isVisible]="isDocumentsModalVisible"
    [currentSubjectId]="currentSubject?.id"
  ></app-documents-modal>
</div>