<div class="chat-area-container">
  <div class="subject-indicator" *ngIf="currentSubject">
    <div class="subject-info">
      <div class="subject-icon">{{ currentSubject.icon }}</div>
      <div class="subject-details">
        <h2>{{ currentSubject.name }}</h2>
        <p class="subject-description">{{ currentSubject.description }}</p>
      </div>
    </div>
  </div>
  
  <div class="messages-container" #messagesContainer [class.drawer-open]="isDocumentsModalVisible">
    <div class="chat-content">
      <app-chat-message
        *ngFor="let message of displayMessages"
        [message]="message"
        (imageClick)="onImageClick($event)"
      ></app-chat-message>
    </div>
  </div>

  <app-chat-input
    [class.drawer-open]="isDocumentsModalVisible"
    (sendMessage)="onSendMessage($event)"
  ></app-chat-input>

  <app-documents-modal
    [isVisible]="isDocumentsModalVisible"
    [currentSubjectId]="currentSubject?.id"
  ></app-documents-modal>

  <app-image-modal
    [isVisible]="isImageModalVisible"
    [imageId]="selectedImageId"
    (closeModal)="onCloseImageModal()"
  ></app-image-modal>
</div>
